/* index.css */
/* version 0.8 */

body, html {
	background-color: #272727;
    height: 100%;
    overflow: hidden;
	color: #ffffff;
	font-family: "Roboto","Arial",sans-serif;
}

/* Hub view */
#hubView {
	display: flex;
	flex-direction: column;
	justify-content: left;
}

/* Page header */
#pageHeader {
	font-size: 5vh;
	line-height: 50%;
	font-weight: 500;
	white-space: nowrap;
}

#header-icon {
	line-height: 100px;
}

/* Main container */
#mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: left;
	height: 100%;
}

/* Player container */
#playerContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    overflow: hidden;
    min-width: 480px;
}

/* Player iframe */
#videoPlayerIframe {
    width: 100%;
    border: none;
    overflow: hidden;
}

/* Load media */
#loadMedia {
    display: flex;
    flex-direction: row;
    align-items: left;
    white-space: nowrap; /* Prevent line breaks */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Add ellipsis for truncated text */
	max-width: 60vw;
}

#fileInput, #folderInput {
	cursor: pointer;
	font-size: 3vw;
	font-weight: 500;
	font-style: normal;
	background-attachment: scroll;
	background-color: #3e3e3e;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: #ffffff;
    appearance: button;
    -webkit-appearance: button;
    -moz-appearance: button;
	border-radius: 8px;
	height: 90%;
	width: 25vw;
	border: 0px;
	margin-bottom: 10px;
	margin-right: 10px;
	min-width: 12px;
}

#fileInput:hover,
#folderInput:hover {
	background-color: #4e4e4e;
	transition: background-color 0.3s ease !important;
}

#fileInput:active,
#folderInput:active {
    background-color: #2e2e2e; /* Adjust the color to a slightly darker shade */
	transition: background-color 0.1s ease !important;
}

#fileInputHidden {
    display: none;
}

/* Video player */
#videoPlayer {
    max-width: 60vw;
}

/* Playlist container */
#playlistContainer {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
	min-width: 10%;
	border-style: none;
    height: 50vh;
	max-width: 30vw;
	border-radius: 8px;
}

/* Playlist */
#playlist {
	text-align: center !important;
	border-radius: 8px;
	background-color: #3e3e3e;
    display: flex;
	flex-direction: column;
    justify-content: center;
}

div div h3 {
	overflow: hidden;
	margin-top: 0px;
	font-size: 24px;
  
}

/* Playlist items */
#playlistItems {
	overflow-y: auto;
	height: 50vh;
	list-style: none;
	padding-left: 0;
}

/* Playlist item */
#playlistItems li {
    margin: 10px;
    cursor: pointer;
    white-space: nowrap; /* Prevent line breaks */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Add ellipsis for truncated text */
	max-height: 10vw;
	margin-top: 0px;
	font-size: 18px;
	padding-left: 10px;
	border-style: none;
	background-color: #3e3e3e;
	transition: background-color 0.8s ease !important;
	border-radius: 2px;
	line-height: 30px;
}

#playlistItems li:hover {
    background-color: #4e4e4e;
	transition: background-color 0.3s ease !important;
}

#playlistItems li:active {
    background-color: #2e2e2e; /* Adjust the color to a slightly darker shade */
	transition: background-color 0.1s ease !important;
}

/* Selected playlist item */
#playlistItems li.selected {
    background-color: #272727;
	cursor: default;
}

.popover {
    position: absolute;
    background-color: #000;
	font-size: 12px;
    color: #fff;
	padding: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
    border-radius: 2px;
    z-index: 9999; /* Ensure popover appears on top of other elements */
}